/* Write your CSS code here */

.head {
  font-family: 'Roboto';
  color: #6d396b;
  font-weight: bold;
  font-size: 32px;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
